/Trabalho 4 - Abrir/AutomatosE_I_Trabalho3/nbproject/private/
/Trabalho 4 - Abrir/AutomatosE_I_Trabalho3/dist/
/Trabalho 4 - Abrir/AutomatosE_I_Trabalho3/build/
/AutomatosE_I_Trabalho4/nbproject/private/
/AutomatosE_I_Trabalho4/build/
/AutomatosE_I_Trabalho4/dist/
/Automatos2_Estendida/nbproject/private/
/Automatos2_Estendida/build/
/Automatos2_Estendida/dist/
/AutomatosEstendida_Trabalho4/build/
/AutomatosEstendida_Trabalho4/dist/
/AutomatosEstendida_Trabalho4/nbproject/private/
/Automatos4_Estendida/build/
/Automatos4_Estendida/dist/
/Automatos4_Estendida/nbproject/private/
/Trabalho1_Alfabetos_uniao/build/
/Trabalho1_Alfabetos_uniao/dist/
/Trabalho1_Alfabetos_uniao/nbproject/private/
/Trabalho4_Estendida/build/
/Trabalho4_Estendida/dist/
/Trabalho4_Estendida/nbproject/private/
/Trabalho2_Estendida/build/
/Trabalho2_Estendida/dist/
/Trabalho2_Estendida/nbproject/private/